@media (min-width: 900px) {
    main {
        position: relative;
        /* height: 100vh ; */
        padding: 0;
        width: 100%;
    }

    picture.country {
        position: relative;
        inset: 0;
        /* top:0; right:0; bottom:0; left:0 */
        width: 100%;
        max-height: max-content;
        z-index: 0;
        display: block;
    }

    picture.country img {
        width: 100%;
        /* max-height: max-content; */
        object-fit: cover;
        display: block;
    }

    .country-card {
        position: absolute;
        width: 620px;
        max-width: calc(30% - 2rem);
        z-index: 2;
        background: var(--color-light);
        border: solid 1px var(--color-secondary);
        font-size: 0.75rem;
    }

    .country-card>div:first-child {
        position: relative;
        /* right: 3rem; */
        padding: 1rem;
        background: var(--color-secondary);
        color: var(--color-light);
    }

    .country-card.weather>div:first-child::after {
        background-image: url("../images/weather.svg");
    }

    .country-card>div:first-child::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0.5rem;
        right: 1rem;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
    }

    .country-card>div:first-child>img {
        display: none;
    }

    .country-card h2 {
        color: var(--color-light);
        margin: 0px;
    }

    .country-card:nth-of-type(1) {
        top: 2rem;
        left: 2rem;
        transform: translateZ(0);
    }

    .country-card:nth-of-type(2) {
        bottom: 2rem;
        right: 2rem;
        transform: translateZ(0);
    }

    .country-card>div {
        padding: 0.25rem 0;
    }

}